# Obdelava podatkov

In [2]:
import pandas as pd

knjige = pd.read_csv("edited_data/books.csv", index_col='title')

pd.options.display.max_rows = 20

In [3]:
knjige.sort_values('avg_rating', ascending=False)

                  shelved  avg_rating  ratings  published
title
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
The Way of Kings    11023        4.65   338127       2010
...                   ...         ...      ...        ...
New Moon            11156        3.52  1516026       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006
New Moon            11156        3.52  1516035       2006

[1250 rows x 4 columns]